{% extends 'admin/navbar.html' %} {% block title %}Products{% endblock %} 
{% block body %}

{% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
{% endfor %}

<div class="container mt-5">
  <div class="row">
    <div class="col-12" style="margin-top: 30px">
      <h2 class="tm-block-title d-inline-block" style="color: white">
        Add Product
      </h2>
    </div>
  </div>

  <form
    action="{% url 'add_product' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="form-group mb-3">
      <label for="name" style="color: white">Product Name</label>
      <input
        id="name"
        name="name"
        type="text"
        class="form-control validate"
        required
      />
    </div>
    <div class="form-group mb-3">
      <label for="description" style="color: white">Description</label>
      <textarea class="form-control validate" rows="3" required></textarea>
    </div>
    <div class="form-group mb-3">
      <label for="category" style="color: white">Category</label>
      <select class="custom-select tm-select-accounts" id="category" name="category">

        <option value="" selected>Select category</option>
        <option value="">Smart</option>
        <option value="">Digital</option>
        <option value="">Analog</option>
        {% comment %} {% for s in stu %}
        <option value="{{ s.category }}">{{ s.category }}</option>
        {% endfor %} {% endcomment %}
      </select>
    </div>
    <div class="row">
      <div class="form-group mb-3 col-xs-12 col-sm-6">
        <label for="shape" style="color: white">Shape</label>
        <select class="custom-select tm-select-accounts" id="shape">
          <option value="" selected>Select Shape</option>
          <option value="">Square</option>
          <option value="">Oval</option>
          <option value="">Round</option>
        </select>
      </div>
      <div class="form-group mb-3 col-xs-12 col-sm-6">
        <label for="stock" style="color: white">Units In Stock</label>
        <input
          id="stock"
          name="stock"
          type="text"
          class="form-control validate"
          required
        />
      </div>
    </div>
    <div class="row">
      <div class="form-group mb-3 col-xs-12 col-sm-6">
        <label for="price" style="color: white">Price</label>
        <input
          id="price"
          name="price"
          type="text"
          class="form-control validate"
          required
        />
      </div>
      <div class="form-group mb-3 col-xs-12 col-sm-6">
        <label for="offer_price" style="color: white">Offer Price</label>
        <input
          id="offer_price"
          name="offer_price"
          type="text"
          class="form-control validate"
        />
      </div>
    </div>
    <div class="form-group">
      <label for="image" style="color: white">Image:</label>
      <div class="image-upload-container">
        <input type="file" id="image" style="color: white" name="image" />
        <span class="image-upload-icon"><i class="fas fa-camera"></i></span>
      </div>
      <p class="image-upload-label" style="color: white">
        Click to select an image
      </p>
    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <button
            type="submit"
            class="btn btn-primary btn-sm btn-block text-uppercase"
          >
            Add Product Now
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock body %}
