{% extends 'admin/navbar.html' %} {% block body %}
<div style="padding-top: 80px">
  <h1>&nbsp&nbspOrder Details</h1>
</div>
<div class="row">
  <section class="h-100 gradient-custom col-md-8">
    {% for product in product %}

    <div class="container py-3 py-md-2">
      <div class="card shadow-0 border mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-md-4 col-lg-2">
              <a href="">
                <img
                  src="{{ product.product.product_Image.url }}"
                  alt="Phone"
                  class="img-fluid"
                />
              </a>
            </div>
            <div class="col-12 col-md-8 col-lg-8">
              <h6>Order id: #{{ order.order_id }}</h6>
              <p class="lead">Name: {{ product.product.product_name }}</p>
              <p class="lead">Shape: {{ product.product.shape }}</p>
              <p class="lead">
                Category: {{ product.product.category.categories }}
              </p>
              <p class="lead">Description: {{ product.product.description }}</p>
              <p class="lead">Qty: {{ product.quantity }}</p>
              <p class="lead">Price: {{ product.amount }}</p>
              <p class="lead">Payment_status: {{ order.payment_status }}</p>

            </div>

            <div class="col-12 col-md-12 col-lg-2 text-center">
                <form method="post" action="{% url 'update_order_status' id=order_item.id %}">
                    {% csrf_token %}
                    <select name="order_status">
                      {% for choice in order_item.ORDER_STATUS %}
                        <option value="{{ choice.0 }}" {% if order_item.order_status == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                      {% endfor %}
                    </select>
                    <button type="submit">Update Status</button>
                  </form>
            </div>

          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </section>

  <div class="mt-2 mb-3 mb-md-5 ml-md-5 col-md-4">
    <div class="row">
      <div class="col-12">
        <div class="card pb-4" style="max-width: 350px">
          <h4 class="pl-3 pt-3">Shipping Address:</h4>
          <div class="text-center">
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
              alt="Avatar"
              class="mt-2"
              style="width: 80px; height: 100px"
            />
          </div>
          <div class="container pt-4 pl-3">
            <ul class="list-unstyled">
              <li><strong>Name:</strong> {{ order.address.name }}</li>
              <li><strong>Address:</strong> {{ order.address.address }}</li>
              <li><strong>Phone:</strong> {{ order.address.phone_number }}</li>
              <li><strong>House no:</strong> {{ order.address.house_no }}</li>
              <li><strong>Street:</strong> {{ order.address.street }}</li>
              <li><strong>City:</strong> {{ order.address.city }}</li>
              <li><strong>State:</strong> {{ order.address.state }}</li>
              <li><strong>Country:</strong> {{ order.address.country }}</li>
              <li><strong>Pin code:</strong> {{ order.address.pin_code }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }

  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }

  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
  }

  /* Add rounded corners to the top left and the top right corner of the image */
  img {
    border-radius: 5px 5px 0 0;
  }
</style>

{% endblock body %}
