{% extends 'admin/navbar.html' %}

{% block title %}Products{% endblock %}
{% block additional_styles %}  

  <style>
    .custom-font {
        font-family: "Blinker", sans-serif;
    }
    .navbar {
        height: 70px; 
    }
    .navbar-nav .nav-link:hover {
        color: yellow;
    }
    body {
        background-color:#E2AC13;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding-top: 80px; /* Add top padding to body */
    }
    .container {
        max-width: 500px;
        width: 100%;
        padding: 20px;
        background-color:  rgb(255 238 7 / 70%);
    }
    .image-upload-container {
        background-color: bisque;
        position: relative;
        width: 200px;
        height: 200px;
        border: 2px dashed #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .image-upload-container:hover {
        border-color: #34A853;
    }
    .image-upload-container input[type="file"] {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    .image-upload-icon {
        font-size: 80px;
        color: #888;
    }
    .image-upload-label {
        margin-top: 10px;
        text-align: center;
        color: #888;
    }
    .product-count-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 10px;
    }
    .product-count-input {
        width: 50px;
        text-align: center;
    }
    .product-count-buttons {
        display: flex;
        align-items: center;
    }
    .product-count-button {
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
    .product-count-button:hover {
        background-color: #ccc;
    }
    .product-count-button.minus {
        color: red;
        background-color:white;
    }
    .product-count-button.plus {
        color: green;
    }
    .product-count-buttons button {
        margin-right: 5px;
    }
    .add-product-button {
        color: black;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        margin: 20px auto;
    }
</style>{% endblock %}
{% block body %}
<div class="container mt-5">
    <h2 class="text-center">Edit Product</h2>
    <form action="{% url 'edit_product' product.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" class="form-control" id="productName" name="productName"  value="{{product.Product_name}}">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input class="form-control" id="description" name="description" value="{{product.description}}">
        </div>
        <div class="form-group">
            <label for="image">Image:</label>
            <div class="image-upload-container">
                <input type="file" id="image" name="image" value="{{ product.Product_Image }}" accept="image/*"/>
                <span class="image-upload-icon"><i class="fas fa-camera"></i></span>
            </div>
            <p class="image-upload-label">Click to select an image</p>
        </div>
        <div class="form-group">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="categoryId">
                <option value="{{ product.category.id }}">{{ product.category.categories }}</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.categoreis }}</option>
                {% endfor %}
            </select>
            <input type="text" id="categoryId" name="categoryId" value="{{ product.category.id }}" hidden>
        </div>
        
        <div class="form-group">
            {% for s in shape %}
            <input type="checkbox" id="checkbox-{{ s.s }}" name="checkbox-{{ s.s }}">
            <label for="size-{{ s.s }}">{{ s.s|title }}</label>
            <div class="d-flex">
                <input type="number" class="form-control mx-2" id="price-{{ s.s }}" name="price-{{ s.s }}"  min="0" value="{{ s.price }}" >
                <input type="number" class="form-control mx-2" id="offer-price-{{s.s}}" name="offer-price-{{s.s}}"  min="0" value="{{ s.offer_price }}">
                <input type="number" class="form-control mx-2" id="productCount-{{ s.s }}"  min="0" name="productCount-{{ s.s }}" value="{{ s.Quantity }}">
              
            </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-warning btn-outline-info add-product-button">Submit</button>
    </form>
</div>

{% endblock body %}