{% load static %} {% include 'admin/navbar.html' %} {% block body %}
<div class="container-fluid">
  <div class="container-fluid">

      <div class="card-body">
        <h2><b>Edit Product</b></h2>

        <div class="card">
          <div class="card-body">
            <form
              action="{% url 'edit_product' product.id %}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <div class="form-group mb-3">
                <label for="name">Product Name</label>
                <input
                  id="name"
                  name="name"
                  type="text"
                  value="{{product.product_name}}"
                  class="form-control validate"
                  
                />
              </div>
              <div class="form-group mb-3">
                <label for="description">Description</label>
                <textarea
                  class="form-control validate"
                  rows="3"
                  name="description"
                >{{product.description}}</textarea>
              </div>

              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-3">
                  <label for="category">Category</label>
                  <select
                    class="custom-select tm-select-accounts"
                    id="category"
                    name="category"
                    
                  >
                    <option value="" selected>{{product.category}}</option>
                    {% for s in categories %}
                    <option value="{{ s.categories }}">
                      {{ s.categories }}
                    </option>
                    {% endfor %}
                  </select>
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-3">
                  <label for="shape">Shape</label>
                  <select
                    class="custom-select tm-select-accounts"
                    id="shape"
                    name="shape"
                    
                  >
                    <option value="" selected>{{product.shape}}</option>
                    <option value="">Square</option>
                    <option value="">Oval</option>
                    <option value="">Round</option>
                  </select>
                </div>
{% for strap in strap %}
                <div class="form-group mb-3 col-xs-12 col-sm-3">
                  <label for="strap">Strap</label>
                  <select
                    class="custom-select tm-select-accounts"
                    id="strap"
                    name="strap"
                  >
                    <option value="" selected>{{strap.strap}}</option>
                    <option value="">Leather</option>
                    <option value="">Chain</option>
                    <option value="">Rubber</option>
                  </select>
                </div> 

                <div class="form-group mb-3 col-xs-12 col-sm-3">
                  <label for="quantity">Quantity</label>
                  <input
                    id="quantity"
                    name="quantity"
                    type="number"
                    value="{{strap.quantity}}"
                    class="form-control validate"
                  
                  />
                </div>
              </div> 
{%endfor%}
              <div class="row">
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="price">Price</label>
                  <input
                    id="price"
                    name="price"
                    type="text"
                    value="{{product.price}}"

                    class="form-control validate"
                    
                  />
                </div>
                <div class="form-group mb-3 col-xs-12 col-sm-6">
                  <label for="offer_price">Offer Price</label>
                  <input
                    id="offer_price"
                    name="offer_price"
                    type="text"
                    value="{{product.offer_price}}"

                    class="form-control validate"
                  />
                </div>
              </div>
              <div class="row">
                <div class="form-group">
                  <label for="image">Image:</label>
                  <div class="image-upload-container">
                    <input type="file" id="image" name="image" value="{{ product.Product_Image }}" accept="image/*"/>

                    <span class="image-upload-icon"
                      ><i class="fas fa-camera"></i
                    ></span>
                  </div>
                  <p class="image-upload-label">Click to select an image</p>
                </div>
              </div>

              <div class="container">
                <div class="row justify-content-center">
                  <div class="col-md-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-xs btn-block text-uppercase"
                    >Save</button>
                  </div>
                </div>
              </div>
            </form>
            {% comment %}
            <form>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Email address</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleInputEmail1"
                  aria-describedby="emailHelp"
                />
                <div id="emailHelp" class="form-text">
                  We'll never share your email with anyone else.
                </div>
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label"
                  >Password</label
                >
                <input
                  type="password"
                  class="form-control"
                  id="exampleInputPassword1"
                />
              </div>
              <div class="mb-3 form-check">
                <input
                  type="checkbox"
                  class="form-check-input"
                  id="exampleCheck1"
                />
                <label class="form-check-label" for="exampleCheck1"
                  >Check me out</label
                >
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock body %}
