{% extends 'admin/navbar.html' %} {% block body %}
<div class="container mt-2">
  <div style="text-align: center; padding-top: 70px">
    <h2>Orders</h2>
  </div>
  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white mt-2">
      <thead class="bg-light">
        <tr>
          <th>Order_id</th>
          <th>Product name</th>
          <th>Strap</th>
          <th>Prices</th>
          <th>Quantity</th>
          <th>Payment</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for order_item in order_item %}
        
        <tr>
          <td>{{order_item.order_no.order_id}}</td>
          
      

          <td>
            <p class="fw-bold mb-1">{{order_item.product}}</p>
          </td>
         
          <td>
            <p class="fw-bold mb-1">{{order_item.strap.strap}}</p>
          </td>

          <td>
            <p class="fw-bold mb-1">{{order_item.amount}}</p>
          </td>
          <td>
            <p class="fw-bold mb-1">{{order_item.quantity}}</p>
          </td>
          <td>
            <p class="fw-bold mb-1">{{order.payment_method}}</p>
          </td>
            {% if order_item.order_status == 'Confirmed' %}
            <td><span class="badge badge-danger" style="background-color: green; color: black">{{order_item.order_status}}</span></td>
            {% elif order_item.order_status == 'Pending' %}
            <td><span class="badge badge-danger" style="background-color:blue; color: black">{{order_item.order_status}}</span></td>
            {% elif order_item.order_status == 'Shipped' %}
            <td><span class="badge badge-danger" style="background-color: yellow; color: black">{{order_item.order_status}}</span></td>
            {% elif order_item.order_status == 'Out for Delivery' %}
            <td><span class="badge badge-primary" style="background-color:red; color: black">{{order_item.order_status}}</span></td>
            {% else %}
            <td><span class="badge badge-danger" style="background-color:red; color: black">{{order_item.order_status}}</span></td>
            {% endif %} 
            {% comment %}          <td>
 {% if product.is_deleted %}
            <span class="badge badge-danger rounded-pill d-inline" style="color: white; background-color: red"
              >Un Available</span
            >
            {% else %}
            <span class="badge badge-success rounded-pill d-inline" style="color: black; background-color: green"
              >Available</span
            >
            {% endif %}           </td>
{% endcomment %}

       

          <td>
            <form method="post" action="{% url 'update_order_status' id=order_item.id %}">
              {% csrf_token %}
              <select name="order_status">
                {% for choice in order_item.ORDER_STATUS %}
                  <option value="{{ choice.0 }}" {% if order_item.order_status == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
                {% endfor %}
              </select>
              <button type="submit">Update Status</button>
            </form>
          
          </td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock body %}
