{% extends 'layouts/main.html' %} {% load static %} {% block body %}
{% include 'inc/navbar.html' %}
<div class="container mt-5 mb-5">
  <div class="row">
    {% include 'inc/sidebar.html' %}

    <div class="col-md-9">
      <h4 class="card-title" style=""><b>Manage Addresses</b></h4>
      {% for profile in user_profile %}

      <div class="card">
        <div class="p-3 py-5">
          <div class="col-12"></div>

          <div class="col">
            <h6 class="card-subtitle mb-2 text-muted">
              <p class="card-text text-muted small">
                <b>
                  {{ profile.name}}&nbsp&nbsp&nbsp&nbsp&nbsp{{profile.phone_number }}
                  <br />
                  {{ profile.house_no}}&nbsp&nbsp&nbsp&nbsp&nbsp{{profile.street}}
                  &nbsp&nbsp&nbsp&nbsp&nbsp{{profile.city}}&nbsp&nbsp&nbsp&nbsp&nbsp
                  {{profile.country}}&nbsp&nbsp&nbsp&nbsp&nbsp{{profile.state}}&nbsp&nbsp-&nbsp&nbsp{{ profile.pin_code }}
                </b>
              </p>
            </h6>
          </div>
          <a
            href="{% url 'edit_address' profile.id %}"
            class="genric-btn info circle"
            >Edit</a
          >
          <a
            href="{% url 'delete_address' profile.id %}"
            class="genric-btn danger circle"
            >Delete</a
          >
        </div>
      </div>
      <br />
      {% endfor %}
    </div>
  </div>
</div>
<style>
  body {
    font-family: "Rubik", sans-serif;
    height: 100% !important;
    {% comment %} background: rgb(99, 39, 120); {% endcomment %}
  }
  .card-subtitle {
    font-size: 25px;
  }

  #star {
    margin-left: -5px !important;
    vertical-align: bottom !important;
    opacity: 0.5;
  }

  .more {
    opacity: 0.5 !important;
  }

  .btn:hover {
    color: black !important;
  }

  .vl {
    margin: 8px !important;
    width: 2px;
    border-right: 1px solid #aaaaaa;
    height: 25px;
  }

  #plus {
    opacity: 0.8;
  }

  .card {
    border-radius: 10px !important;
  }

  a:hover {
    background-color: #ccc !important;
  }

  .btn-outlined:active {
    color: #fff;
    border-color: #fff !important;
  }

  img {
    cursor: pointer;
    overflow: visible;
  }

  .btn:focus,
  .btn:active {
    outline: none !important;
    box-shadow: none !important;
  }

  .container {
    margin-top: 100px !important;
  }
</style>
{% endblock body %}
