{% extends 'layouts/main.html' %} {% load static %} {% block body %}


{% if not cart_items %}
<div
  class="container d-flex justify-content-center align-items-center h-100 mt-3"
>
  <div class="card text-center">
    <div class="card-body">
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 200px;
          height: 200px;
          width: 200px;
          background: #f8faf5;
          margin: 0 auto;
        "
      >
        <i class="fas fa-shopping-cart" style="font-size: 100px"></i>
      </div>
      <h1 class="mt-4">Cart is Empty</h1>
      <p>
        Your cart is currently empty. Start adding items to your cart to
        continue shopping.
        <br />
        We'll be in touch shortly!
      </p>
      <div class="mt-4">
        <a href="{% url 'shop' %}" class="btn btn-success btn-lg btn-block"
          >Continue Shopping</a
        >
      </div>
    </div>
  </div>
</div>

<div class="shop-method-area" style="padding-top: 40px">
    <div class="container">
      <div class="method-wrapper">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="ti-package"></i>
              <h6>Free Shipping Method</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="ti-unlock"></i>
              <h6>Secure Payment System</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="ti-reload"></i>
              <h6>Secure Payment System</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop Method End-->
{% else %}

<main>
  <!-- Hero Area Start-->
  <style>
    .video-area {
      position: relative;
      text-align: center;
      overflow: hidden; /* Add overflow hidden */
    }

    .video-area img {
      width: 100%;
      opacity: 0.8;
      filter: blur(2px);
    }

    .video-area h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 66px;
      font-weight: bold;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: Add a text shadow for better visibility */
    }

    /* Add media queries for responsive font size */
    @media (max-width: 768px) {
      /* For smaller screens, reduce the font size */
      .video-area h2 {
        font-size: 40px;
      }
    }

    @media (max-width: 576px) {
      /* For even smaller screens, further reduce the font size */
      .video-area h2 {
        font-size: 30px;
      }
    }
  </style>

  <div class="video-area">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <img
            src="{% static 'assets/img/logo/1233.png' %}"
            alt="Image"
            class="img-fluid"
          />
          <h2>Cart List</h2>
        </div>
      </div>
    </div>
  </div>

  <!-- Hero Area End-->

  <style>
    .trash-link {
      text-decoration: none;
      color: #333;
    }
  </style>
  {% for message in messages %}
  <div
    class="alert alert-{{message.tags}} alert-dismissible fade show"
    role="alert"
  >
    {{message}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}
  <section class="h-100 gradient-custom">
    <div class="container py-5">
      <div class="row d-flex justify-content-center my-4">
        <div class="col-md-8">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Your Cart</h5>
            </div>
            <div class="card-body">
              {% for cart_item in cart_items %}

              <!-- Single item -->
              <div class="row">
                <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                  <!-- Image -->
                  <div
                    class="bg-image hover-overlay hover-zoom ripple rounded"
                    data-mdb-ripple-color="light"
                  >
                    <img
                      src="{{ cart_item.product.product_Image.url}}"
                      class="w-100"
                      alt="image"
                    />
                    <a href="#!">
                      <div
                        class="mask"
                        style="background-color: rgba(251, 251, 251, 0.2)"
                      ></div>
                    </a>
                  </div>
                  <!-- Image -->
                </div>

                <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                  <!-- Data -->
                  <p>
                    <a
                      href="{% url 'product_details' cart_item.product.id %}"
                      style="color: black"
                      ><strong>{{cart_item.product.product_name}}</strong></a
                    >
                  </p>
                  <p>Category: {{cart_item.product.category}}</p>
                  <p>Selected Strap: {{cart_item.strap.strap}}</p>

                  <a href="{% url 'delete_cart_item' cart_item.id %}"
                    ><button
                      type="button"
                      class="btn btn-primary"
                      data-mdb-toggle="tooltip"
                      title="Remove item"
                      style="padding: 15px 20px; font-size: 12px; line-height: 1;"
                    >
                      <i class="fas fa-trash"></i></button
                  ></a>

                  <button
                    type="button"
                    class="btn btn-danger"
                    data-mdb-toggle="tooltip"
                    title="Move to the wish list"
                    style="padding: 15px 20px; font-size: 12px; line-height: 1;"
                  >
                    <i class="fas fa-heart"></i>
                  </button>
                  <!-- Data -->
                </div>

                <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                  <!-- Quantity -->
                  <div class="product_count" id="product_count_{{ cart_item.strap.id }}">
                    <a href="{% url 'cart_minus' cart_item.strap.id %}"
                      ><span class="input-number-decrement">
                        <i class="ti-minus" style="color: black"></i></span
                    ></a>
                    <input
                      class="input-number"
                      type="text"
                      value="{{cart_item.quantity}}"
                      min="1"
                      max="10"
                      size="3"
                    />
                    <a href="{% url 'cart_plus' cart_item.strap.id %}">
                      <span class="input-number-increment">
                        <i class="ti-plus" style="color: black"></i></span
                    ></a>
                  </div>
                  <!-- Quantity -->

                 

                  <!-- Price -->
                  <br></br>
                  <p class="text-start text-md-center">
                    <strong>₹<s>{{cart_item.sub_total}}</s> </strong>&nbsp&nbsp&nbsp
                    <strong>₹ {{ cart_item.offer_sub_total }}</strong>
                  </p>
                  <!-- Price -->
                </div>
              </div>
              <!-- Single item -->

              <hr class="my-4" />

              {% endfor %}
              <script>
                $(document).ready(function () {
                  $(".input-number-increment").on("click", function (e) {
                    e.preventDefault(); // Prevent the default link behavior
                    
                    var productId = $(this).closest(".product_count").attr("id").split("_")[2];
                    
                    $.ajax({
                      type: "GET",
                      url: "{% url 'cart_plus' strap_id=0 %}".replace('0', productId),
                      success: function (data) {
                        // Update the quantity element using the data returned from the server
                        if (data.html) {
                          $("#product_count_" + productId).html(data.html);
                        }
                      },
                    });
                  });
                                
                  $(".input-number-decrement").on("click", function (e) {
                    e.preventDefault(); // Prevent the default link behavior
                    
                    var productId = $(this).closest(".product_count").attr("id").split("_")[2];
                    
                    $.ajax({
                      type: "GET",
                      url: "{% url 'cart_minus' strap_id=0 %}".replace('0', productId),
                      success: function (data) {
                        // Update the quantity element using the data returned from the server
                        if (data.html) {
                          $("#product_count_" + productId).html(data.html);
                        }
                      },
                    });
                  });
                });
                </script>
                
                
              
            </div>
          </div>
          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Expected shipping delivery</strong></p>
              <p class="mb-0">12.10.2020 - 14.10.2020</p>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body">
              <p><strong>We accept</strong></p>
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                alt="Visa"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                alt="American Express"
              />
              <img
                class="me-2"
                width="45px"
                src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                alt="Mastercard"
              />
            </div>
          </div>
        </div>
        <!-- total -->
        <div class="col-md-4">
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0">Summary</h5>
            </div>
            {% comment %} {% for cart_item in cart_items %} {% endcomment %}

            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
                >
                  Products
                  <span>₹{{total}}</span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <div>
                    <strong>Shipping Charge</strong>
                  </div>
                  <span><strong>₹{{Cart.shipping_charge}}</strong></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <div>
                    <strong>Tax</strong>
                  </div>
                  <span><strong>₹{{tax}}</strong></span>
                </li>
                <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <div>
                    <strong>Sub total amount</strong>
                    <strong>
                      <p class="mb-0">(incl. taxes)</p>
                    </strong>
                  </div>
                  <span><strong>₹{{cart.offer_total_price}}</strong></span>
                </li>
              </ul>

              <form method="post" action="{% url 'coupon_view' %}">
                {% csrf_token %}
                <div class="input-group mb-3">
                  <label for="coupon_code">Enter coupon code:</label>
                  <input type="text" class="form-control" name="coupon_code" placeholder="Enter coupon code" aria-label="Recipient's username" aria-describedby="button-addon2">
                  <button type="submit" class=" btn-outline-secondary" id="button-addon2">Verify</button>
                </div>
              </form>
              <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <div>
                    <strong>Coupon Discount</strong>
                  </div>
                  
                  <span><strong>₹{{cart.coupon_discount}}</strong></span>
                </li>
              <li
                  class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
                >
                  <div>
                    <strong>Total amount</strong>
                    <strong>
                      <p class="mb-0">(incl. taxes)</p>
                    </strong>
                  </div>
                  <span><strong>₹{{cart.total}}</strong></span>
                </li>


              <a href="{% url 'checkout' %}">
              <button type="button" class="btn btn-primary btn-lg btn-block">
                Go to checkout
              </button></a>

              <style>
                .dotted-line {
                  border-bottom: 1px dotted green;
                }
              </style>

              <!-- Add the dotted line and change the text color -->
              <hr class="dotted-line" />
              <h6 style="color: green">
                You will save ₹{{cart.save}} on this order.
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="shop-method-area" style="padding-top: 40px">
    <div class="container">
      <div class="method-wrapper">
        <div class="row d-flex justify-content-between">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="ti-package"></i>
              <h6>Free Shipping Method</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="ti-unlock"></i>
              <h6>Secure Payment System</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="single-method mb-40">
              <i class="ti-reload"></i>
              <h6>Secure Payment System</h6>
              <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Shop Method End-->
</main>
{% comment %} <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  var options = {
      key: "rzp_test_TXzXHyrWInmPx4",
      amount: "50000", 
      currency: "INR",
      name: "timetrix",
      description: "description",
      image: "https://example.com/your_logo",
      order_id: "{{order.provider_order_id}}",
      callback_url: "{{callback_url}}",
      redirect: true,
      prefill: {
          "name": "Gaurav Kumar",
          "email": "gaurav.kumar@example.com",
          "contact": "9999999999"
      },
      notes: {
          "address": "Razorpay Corporate Office"
      },
      theme: {
          "color": "#3399cc"
      }
  };
  var rzp1 = new Razorpay(options);
  rzp1.on('payment.failed',function(response){
    alert(response.error.code);
    alert(response.error.description);
    alert(response.error.source);
    alert(response.error.step);
    alert(response.error.reason);
    alert(response.error.metadata.order_id);
    alert(response.error.metadata.payment_id);
  });
  document.getElementById()
  </script> {% endcomment %}

{% endif %}
 {% endblock body %}
