{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Signup</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'assets/s_fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'assets/s_css/style.css' %}">
	</head>

	<body>
		<!-- Header Start -->
        {% include 'inc/navbar.html' %}
        <!-- Header End -->
        
		<div class="wrapper" style="background-image: url('{% static 'assets/img/s_images/croped1.png' %}');">
			<div class="inner">
				<form action="{% url 'send_otp'%}" method="post" style="padding-top: 100px;">
					{% csrf_token %}
					<h3>OTP Login</h3>
					<div class="form-wrapper" style="padding-top: 20px;">
						<input type="text" placeholder="Enter Phone Number"  class="form-control" name="email" required>
					</div>
				<div style="padding-top: 20px;">
                    <button>Send OTP
						<i class="zmdi zmdi-arrow-right"></i>
					</button>

					<br>
                        Enter your phone number to reset your password,
                        you will receive an email message with instructions
                            on how to  reset your password</br>
				</div>
				<br>
                <a href="{% url 'signup' %}"><p style="font-size: 10px; text-align: right;">Don't have an account?</p></a>
				</form>
				
                <div class="image-holder">
					
					<img src="{% static 'assets/img/s_images/post-4.png' %}" alt="">
				</div>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
{% endblock body %}
