{% extends 'layouts/main.html' %} {% load static %} {% block body %}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link
  rel="stylesheet"
  href="{% static 'assets/s_fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'assets/s_css/style.css' %}" />


<div
  class="wrapper"
  style="
    background-image: url('{% static 'assets/img/s_images/croped1.png' %}');
  "
>
{% for message in messages %}
<div
  class="alert alert-{{message.tags}} alert-dismissible fade show"
  role="alert"
>
  {{message}}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %}
  <div class="inner">
    <form action="" method="post" style="padding-top: 120px">
      {% csrf_token %}
      <h3>Login</h3>
      <div class="form-wrapper">
        <input
          type="email"
          placeholder="Email"
          class="form-control"
          name="email"
          required
        />
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="form-wrapper">
        <input
          type="password"
          placeholder="Password"
          class="form-control"
          name="password"
          required
        />
        <i class="zmdi zmdi-lock"></i>
      </div>
      <a href="{% url 'send_otp' %}"
        ><p style="font-size: 10px; text-align: right">Login with OTP?</p></a
      >
      <button>
        Login
        <i class="zmdi zmdi-arrow-right"></i>
      </button>
    </form>
    <div class="image-holder">
      <img src="{% static 'assets/img/s_images/post-4.png' %}" alt="" />
    </div>
  </div>
</div>

{% endblock body%}
