{% extends 'layouts/main.html' %} {% load static %} {% block additional_styles%} .product-image { max-width: 100%; height: auto; } {% endblock %} {% block body%}

<!-- Product section-->
<div class="row">
  <div class="col-md-12">
    <div id="message-area" class="alert alert-dismissible fade show" role="alert" style="display: none;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <span id="message-text"></span>
    </div>
  </div>
</div>
</div>

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5" style="max-width: 1000px">
    <div class="row gx-4 gx-lg-5 align-items-center rounded-3">
      <div class="col-md-6">
        <div class="product-image-container">
          <img
            src="{{product.product_Image.url}}"
            alt="Product Image"
            style="width: 420px; height: 470px"
          />
        </div>
      </div>

      <div class="col-md-6">
        <form action="{% url 'add_cart' product.id %}" method="post">
          {% csrf_token %}
          <h1 class="display-5 fw-bolder">{{ product.product_name }}</h1>
          <div class="d-flex small text-success mb-2"></div>
          <p class="lead">
            ₹ <s>{{ product.price}}</s> &nbsp &nbsp ₹ {{ product.offer_price}}
          </p>
          <p class="lead">Model: {{ product.category.categories}}</p>
          <p class="lead">Shape: {{ product.shape}}</p>
          <p class="lead">Description: {{ product.description }}</p>
          <div class="row">
            <div class="form-group mb-3 col-xs-12 col-sm-6">
              <h2 class="lead" style="font-size: 16px; font-weight: bold">
                Select Strap Type
              </h2>

              <select
                class="form-control"
                id="strap_id"
                name="strap_id"
                required
              >
                <option value="" selected>Select</option>
                {% for i in product.strap_set.all %}
                <option value="{{i.id}}">{{i.strap | capfirst }}</option>

                {% endfor %}
              </select>
            </div>

            <div>
              <div class="d-flex">
                <div hidden></div>
                <div style="display: grid; grid-auto-flow: row; row-gap: 20px">
                  <div
                    style="
                      display: grid;
                      grid-auto-flow: column;
                      column-gap: 20px;
                    "
                  >
                    {% if strap.quantity <= 0 %}
                    <h5 class="text-danger">Out of Stock</h5>
                    {% else %} {% if product.in_cart %}
                    <a href="{% url 'cart' %}" class="btn hero-btn"
                      >Added to Cart <i class="fas fa-check"></i
                    ></a>
                    {% else %}
                    <button type="submit" class="btn hero-btn">
                      Add to Cart<i class="flaticon-shopping-cart"></i>
                    </button>
                    {% endif %} {% endif %} {% comment %} {% if wishlist %}
                    <a
                      href="{% url 'add_to_wishlist' product.id %}"
                      class="btn hero-btn"
                      >Remove from wishlist <i class="flaticon-heart"></i
                    ></a>
                    {% else %}
                    <a
                      href="{% url 'add_to_wishlist' product.id %}"
                      class="btn hero-btn"
                      >Add to wishlist<i class="flaticon-heart"></i
                    ></a>
                    {% endif %} {% endcomment %} {% if wishlist %}
                    <a
                      href="javascript:void(0);"
                      class="btn1 hero-btn wishlist-button"
                      data-product-id="{{ product.id }}"
                      >Remove from wishlist <i class="flaticon-heart"></i
                    ></a>
                    {% else %}
                    <a
                      href="javascript:void(0);"
                      class="btn1 hero-btn wishlist-button"
                      data-product-id="{{ product.id }}"
                      >Add to wishlist <i class="flaticon-heart"></i
                    ></a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Shop Method -->
<div class="shop-method-area" style="padding-top: 40px">
  <div class="container">
    <div class="method-wrapper">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-package"></i>
            <h6>Free Shipping Method</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-unlock"></i>
            <h6>Secure Payment System</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-reload"></i>
            <h6>Secure Payment System</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .product-image-container {
    overflow: hidden;
    position: relative;
  }

  .product-image-container img {
    transition: transform 0.3s ease;
  }

  .product-image-container:hover img {
    transform: scale(1.8); /* Adjust the scale value for desired zoom level */
  }
</style>

{% comment %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endcomment %}
{% comment %} 
<script>
  $(document).ready(function () {
    $(".wishlist-button").click(function () {
      console.log("Button clicked");
      var product_id = $(this).data("product-id");
      var url = "{% url 'add_to_wishlist' 0 %}".replace("0", product_id);
      var csrf_token = $("input[name='csrfmiddlewaretoken']").val(); // Fetch the CSRF token

      $.ajax({
        type: "POST",
        url: url,
        headers: {
          "X-CSRFToken": csrf_token, // Add the CSRF token to the headers
          cache: false,
        },
        dataType: "json",
        success: function (response) {
          console.log("Response:", response);

          if (response.success) {
            var message = response.message;
            $("#message-area").text(message);
            // Update button text and action based on response
            var buttonText = response.message.includes("Added")
              ? "Remove from wishlist"
              : "Add to wishlist";
            $(".wishlist-button[data-product-id='" + product_id + "']").text(
              buttonText
            );
          }
        },
        error: function (xhr, textStatus, errorThrown) {
          console.error("Error: " + errorThrown);
        },
      });
    });
  });
</script> {% endcomment %}
<script>
  $(document).ready(function () {
    $(".wishlist-button").click(function () {
      console.log("Button clicked");
      var product_id = $(this).data("product-id");
      var url = "{% url 'add_to_wishlist' 0 %}".replace("0", product_id);
      var csrf_token = $("input[name='csrfmiddlewaretoken']").val(); // Fetch the CSRF token

      $.ajax({
        type: "POST",
        url: url,
        headers: {
          "X-CSRFToken": csrf_token, // Add the CSRF token to the headers
          cache: false,
        },
        dataType: "json",
        success: function (response) {
          console.log("Response:", response);

          if (response.success) {
            var message = response.message;
            $("#message-text").text(message);
            $("#message-area").removeClass("alert-success alert-danger").addClass(response.success ? "alert-success" : "alert-danger");
            $("#message-area").fadeIn();

            // Update button text and action based on response
            var buttonText = response.message.includes("Added")
              ? "Remove from wishlist"
              : "Add to wishlist";
            $(".wishlist-button[data-product-id='" + product_id + "']").text(buttonText);
          }
        },
        error: function (xhr, textStatus, errorThrown) {
          console.error("Error: " + errorThrown);
        },
      });
    });

    // Dismiss the alert when the close button is clicked
    $(".alert .close").click(function () {
      $(this).parent().fadeOut();
    });
  });
</script>

{% endblock body %}
