{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}

<!-- Header Start -->
{% include 'inc/navbar.html' %}
{% include 'inc/sidebar.html' %}
<!-- Header End -->

  

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    {% comment %} {% include 'includes/alerts.html' %} {% endcomment %}
    <div class="container">
        <div class="row">
        {% comment %} {% include 'includes/dashboard_sidebar.html' %} {% endcomment %}
        <main class="col-md-9">
            <article class="card">
            <header class="card-header">
                <strong class="d-inline-block mr-3">Logged In As</strong>
                <span>{{user.first_name}}</span>
            </header>
            <div class="card-body">
                <div class="row"> 
    
                    {% comment %} <div class="col-md-6">
                        <div class="card" style="text-align: center;">
                            <div class="card-body">
                                <h5 class="card-title">Total Orders</h5>
                                <h4>{{orders_count}}</h4>
                                <a href="">View Orders</a>

                            </div>
                        </div>
                    </div> {% endcomment %}
    
                    <div class="col-md-6">
                        <div class="card" style="text-align: center;">
                            <div class="card-body">
                                <img src="{{userprofile.profile_picture.url}}" alt="User Profile Picture" width="50" height="50" style="border-radius: 50%;">
                                <p class="mb-0">{{user.email}}</p>
                                <p>{{user.phone_number}}</p>
                            </div>
                        </div>
                    </div>
    
                </div> <!-- row.// -->
            </div> <!-- card-body .// -->
            </article> <!-- order-group.// --> 
        </main>
    </div> <!-- row.// -->
    </div>
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
{% endblock body %}
