{% extends 'layouts/main.html' %} {% load static %} {% block body %} 


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg" style="padding-top: 20px">
  <div class="mt-5 mb-5" style="padding-left: 100px;">
    <div class="row">
      <!-- Sidebar Card -->
  
      {% include 'inc/sidebar.html' %}
      <main class="col-md-9">
        <article class="card">
          <header class="card-header">
            {% for user_profile in user_profile %}
            {% if forloop.first %}
            <strong class="d-inline-block mr-3">Hello</strong>
            <span>{{user_profile.user.name}} .</span>
          </header>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="card" style="text-align: center">
                  <div class="card-body">
                    <img
                    src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp"
                    class="rounded-circle shadow-4"
                    style="width: 30px"
                    alt="Avatar"
                  />  
                    <p class="mb-0" style="color: black">
                      {{user_profile.user.name}}
                    </p>
                    <p class="mb-0" style="color: black">
                      {{user_profile.user.email}}
                    </p>
                    <p style="color: black">{{user_profile.user.phone_number}}</p>
                  </div>
                </div>
              </div>
              {% endif %}
              {% endfor %}
              <div class="col-md-6">
                <div class="card" style="text-align: center">
                  <div class="card-body">
                    <h5 class="card-title">Total Orders</h5>
                    <h4>544</h4>
                    <a href="">View Orders</a>
                  </div>
                </div>
              </div>
            </div>
            <!-- row.// -->
          </div>
          <!-- card-body .// -->
        </article>
        <!-- order-group.// -->
      </main>
    </div>
    <!-- row.// -->
  </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% comment %} 
<div class="mt-5 mb-5" style="padding-left: 100px;">
  <div class="row">
    <!-- Sidebar Card -->

    {% include 'inc/sidebar.html' %}

    <!-- User Profile Card -->
    <div class="col-md-9">
      <div class="card">
        <div class="card-body">
            {% for user_profile in user_profile %}
            {% if forloop.first %}


          <div
            class="d-flex flex-column align-items-center text-center p-3 py-5"
          >
            <img
              class="rounded-circle mt-5"
              width="150px"
              src=""
            />
            <span class="font-weight-bold">{{user_profile.user.name}}</span>
            <span class="text-black-50">{{user_profile.user.phone_number}}</span>
            <span class="text-black-50">{{user_profile.user.email}}</span>
            <!-- Additional content here if needed -->
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div> {% endcomment %}

<style>
  body {
    {% comment %} background: rgb(99, 39, 120); {% endcomment %}
  }

  .form-control:focus {
    box-shadow: none;
    border-color: #ba68c8;
  }

  .profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none;
  }

  .profile-button:hover {
    background: #682773;
  }

  .profile-button:focus {
    background: #682773;
    box-shadow: none;
  }

  .profile-button:active {
    background: #682773;
    box-shadow: none;
  }

  .back:hover {
    color: #682773;
    cursor: pointer;
  }

  .labels {
    font-size: 11px;
  }

  .add-experience:hover {
    background: #ba68c8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #ba68c8;
  }
</style>

<div class="shop-method-area" style="padding-top: 40px">
  <div class="container">
    <div class="method-wrapper">
      <div class="row d-flex justify-content-between">
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-package"></i>
            <h6>Free Shipping Method</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-unlock"></i>
            <h6>Secure Payment System</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6">
          <div class="single-method mb-40">
            <i class="ti-reload"></i>
            <h6>Secure Payment System</h6>
            <p>aorem ixpsacdolor sit ameasecur adipisicing elitsf edasd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}
