<div class="col-lg-4 col-sm-6">
                                                <div data-bs-toggle="collapse">
                                                    <label class="card-radio-label mb-0">
                                                        <input type="radio" name="address" id="info-address1" class="card-radio-input" checked="" value="{{add.id}}">
                                                        <div class="card-radio text-truncate p-3">
                                                            <span class="fs-14 mb-4 d-block">Address 1</span>
                                                            <span class="fs-14 mb-2 d-block">{{add.custom_name}}</span>
                                                            <span class="text-muted fw-normal text-wrap mb-1 d-block">{{add.house_name}}</span>
                                                            <span class="text-muted fw-normal text-wrap mb-1 d-block">{{add.landmark}},{{add.city}}</span>
                                                            <span class="text-muted fw-normal text-wrap mb-1 d-block">{{add.state}},{{add.pincode}}</span>
                                                           
                                                            <span class="text-muted fw-normal d-block">{{add.userr.phone_number}}</span>
                                                        </div>
                                                    </label>
                                                    <div class="edit-btn bg-light  rounded">
                                                        <a href="#" data-bs-toggle="tooltip" data-placement="top" title="" data-bs-original-title="Edit">
                                                            <i class="bx bx-pencil font-size-16"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>