{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}
{% block head%}
    <link
      rel="stylesheet"
      href="{% static 'assets/s_fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}"
    />

    <!-- STYLE CSS -->
    <link rel="stylesheet" href="{% static 'assets/s_css/style.css' %}" />
{% endblock %}
	
		{% for message in messages %}
		<div
		  class="alert alert-{{message.tags}} alert-dismissible fade show"
		  role="alert"
		>
		  {{message}}
		  <button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		  ></button>
		</div>
		{% endfor %}
		<div class="wrapper" style="background-image: url('{% static 'assets/img/s_images/croped1.png' %}');">
			<div class="inner">
				<form method="post" action="{% url 'send_otp' %}">
					<!-- Your form fields here -->
			
				{% csrf_token %}
					<h3>Send OTP</h3>
					<div class="form-wrapper" style="padding-top: 20px;">
						<input type="text" placeholder="Enter Phone Number"  class="form-control" name="phone_number" required>
					</div>
					
					<br>
                        Enter your phone number to verify,
                        you will receive an sms message </br>
				<div style="padding-top: 20px;">
                    <button>Request OTP
						<i class="zmdi zmdi-arrow-right"></i>
					</button>

					
				</div>
				<br>
                <a href="{% url 'signup' %}"><p style="font-size: 10px; text-align: right;">Don't have an account?Signup</p></a>
				</form>
				
                <div class="image-holder">
					
					<img src="{% static 'assets/img/s_images/post-4.png' %}" alt="">
				</div>
			</div>
		</div>

{% endblock body %}
