{% extends 'layouts/main.html' %}
{% load static %}
{% block body %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Send OTP</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
		<!-- MATERIAL DESIGN ICONIC FONT -->
		<link rel="stylesheet" href="{% static 'assets/s_fonts/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'assets/s_css/style.css' %}">
	</head>

	<body>
		<!-- Header Start -->
        {% include 'inc/navbar.html' %}
        <!-- Header End -->
        
		<div class="wrapper" style="background-image: url('{% static 'assets/img/s_images/croped1.png' %}');">
			<div class="inner">
				<form method="post" action="{% url 'send_otp' %}">
					<!-- Your form fields here -->
			
				{% csrf_token %}
					<h3>Send OTP</h3>
					<div class="form-wrapper" style="padding-top: 20px;">
						<input type="text" placeholder="Enter Phone Number"  class="form-control" name="phone_number" required>
					</div>
					
					<br>
                        Enter your phone number to verify,
                        you will receive an sms message </br>
				<div style="padding-top: 20px;">
                    <button>Send OTP
						<i class="zmdi zmdi-arrow-right"></i>
					</button>

					
				</div>
				<br>
                <a href="{% url 'login' %}"><p style="font-size: 10px; text-align: right;">Have an account?Login</p></a>
				</form>
				
                <div class="image-holder">
					
					<img src="{% static 'assets/img/s_images/post-4.png' %}" alt="">
				</div>
			</div>
		</div>
		
	</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
{% endblock body %}
