{% load static %}
<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header header-sticky">
            <div class="container-fluid">
                <div class="menu-wrapper">
                    <!-- Logo -->
                    <h2>TIME TRIX</h2>
                    {% comment %} <div class="logo">
                        <a href="index.html"><img src={% static "assets/img/logo/logo2.png" %} alt=""></a>
                    </div> {% endcomment %}
                    <!-- Main-menu -->
                    <div class="main-menu d-none d-lg-block">
                        <nav>                                                
                            <ul id="navigation">  
                                <li><a href="{% url 'index' %}">Home</a></li>
                                <li><a href="{% url 'shop' %}">shop</a></li>
                                {% comment %} <li><a href="#">Categories</a>
                                    <ul class="submenu">
                                        <li><a href="{% url 'analog' %}">Analog</a></li>
                                        <li><a href="{% url 'digital' %}">digital</a></li>
                                        <li><a href="{% url 'smart' %}">>smart</a></li>
                                    </ul> {% endcomment %}
                                {% comment %} </li>
                                <li class="hot"><a href="#">Latest</a>
                                    <ul class="submenu">
                                        <li><a href="shop.html"> Product list</a></li>
                                        <li><a href="product_details.html"> Product Details</a></li>
                                    </ul>
                                </li> {% endcomment %}
                                <li><a href="{% url 'about' %}">About</a></li>
                                {% comment %} <li><a href="blog.html">Blog</a></li> {% endcomment %}
                                <li><a href="{% url 'blog' %}">Blog</a></li>

                                <li><a href="#">Pages</a>
                                    <ul class="submenu">
                                        <li><a href="{% url 'send_otp' %}">Login</a></li>
                                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                                        <li><a href="{% url 'cart' %}">Cart</a></li>
                                        <li><a href="{% url 'admin_signin' %}">wishlist</a></li>
                                        <li><a href="{% url 'confirm' %}">Confirmation</a></li>
                                        <li><a href="{% url 'checkout' %}">Product Checkout</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'contact' %}">Contact</a></li>
                                
                            </ul>
                        </nav>
                    </div>
                    <!-- Header Right -->
                    <div class="header-right">
                        <ul>
                            <li>
                                <div class="nav-search search-switch">
                                    <span class="flaticon-search"></span>
                                </div>
                            </li>
                            <li> <a href="{% url 'send_otp' %}"><span class="flaticon-user"></span></a></li>
                            <li><a href="{% url 'cart' %}"><span class="flaticon-shopping-cart"></span></a> </li>
                        </ul>
                    </div>
                </div>
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>