{% load static %}
<link
  rel="stylesheet"
  href="{% static 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css' %}"
  integrity="sha512-JyKoYn1tkgFJ5s1oi41p3r2XZpAnZxX7WnG5ZKNmZYRP/dfkX9vLoArqgeLP7aCfFM6u0R/L3qkX+rYdVaz5w=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>

<header>
  <!-- Header Start -->
  <div class="header-area">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="menu-wrapper">
          <!-- Logo -->
          <a href="{% url 'index' %}">
            <h2>
              <img
                src="{% static 'assets/img/logo/time.png' %}"
                alt=""
                width="45"
                height="45"
              />TIME TRIX
            </h2>
          </a>

          <div class="main-menu d-none d-lg-block">
            <nav>
              <ul id="navigation">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'shop' %}">shop</a></li>
                <li>
                  <a href="#">Categories</a>
                  <ul class="submenu">
                    <li><a href="">Analog</a></li>
                    <li><a href="">digital</a></li>
                    <li><a href="">smart</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'blog' %}">Blog</a></li>

                <li>
                  <a href="#">Pages</a>
                  <ul class="submenu">
                    <li><a href="{% url 'send_otp' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'admin_index' %}">Cart</a></li>
                    <li><a href="{% url 'wishlist' %}">wishlist</a></li>
                    <li><a href="{% url 'confirm' %}">Confirmation</a></li>
                    <li><a href="{% url 'checkout' %}">Product Checkout</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i> Logout
                  </a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Login</a>
                </li>
                {% endif %}
              </ul>
            </nav>
          </div>
          <!-- Header Right -->
          <div class="header-right">
            <ul>
              <li>
                <div class="input-group">
                  <div class="form-outline">
                    <form
                      action="{% url 'search' %}"
                      class="search"
                      method="GET"
                      onsubmit="handleSearchForm(event)"
                    >
                      <input
                        type="text"
                        name="query"
                        value=""
                        id="form1"
                        class="form-control"
                        placeholder="Search..."
                      />
                    </form>
                  </div>
                  <button type="submit" class="btns btn-secondary">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </li>

              <li>
                <a href="{% url 'user_profile' %}"
                  ><span class="flaticon-user"></span
                ></a>
              </li>
              <li>
                <a href="{% url 'cart' %}"
                  ><span class="flaticon-shopping-cart"></span
                ></a>
              </li>
              <li>
                <a href="{% url 'wishlist' %}"
                  ><span class="flaticon-heart"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Mobile Menu -->
        <div class="col-12">
          <div class="mobile_menu d-block d-lg-none"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Header End -->
</header>

<style>
  /* Reduce the button height */
  .btn-secondary {
    height: 37px;
    background-color: #ff0000; /* Set the initial button background color */
  }

  /* Change button background color and border color on hover */
  .btn-secondary:hover {
    background-color: #ff0062; /* Set the button background color on hover */
  }

  /* Adjust the position of the "Search" label */
  .form-outline {
    position: relative;
  }
</style>

<script>
  $(function () {
    $("#form1").autocomplete({
      source: '{% url 'autocomplete' %}'
    });
  });
</script>
