{% load static %} {% include 'admin/navbar.html' %} {% block body %}
<div
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="container mt-20">
    <div class="container mt-20">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5 mt-4">
          {% for message in messages %}
          <div
            class="alert alert-{{message.tags}} alert-dismissible fade show"
            role="alert"
          >
            {{message}}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %}

          <div class="container">
            <div
              class="card"
              style="width: 450px; height: 420px; border-radius: 15px; border: 2px solid ); box-shadow: 0 0 20px rgba(8,7,16,0.6);"
            >
              <div
                class="card-body"
                style="
                  background-color: rgba(255, 255, 255, 0.13);
                  padding: 50px 35px;
                "
              >
                <h2 class="text-center">Login</h2>

                <form action="#" method="POST">
                  {% csrf_token %}

                  <label class="mt-5 fw-bolder">name</label>
                  <div class="form-group">
                    <input
                      type="email"
                      placeholder="Email"
                      class="form-control fw-medium"
                      name="email"
                      required
                    />
                  </div>

                  <label class="mt-4 fw-bolder">Password</label>
                  <div class="form-group">
                    <input
                      type="password"
                      placeholder="Password"
                      class="form-control fw-medium"
                      name="password"
                      required
                    />
                  </div>

                  <div class="d-grid gap-2 mt-3">
                    <button class="btn btn-info" type="submit">Login</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body %}
